In [1]:
import pandas

In [2]:
import numpy as np
import sys
pandas.set_option('chained_assignment',None)
files = ["ap_2010.csv", "class_size.csv", "demographics.csv", "graduation.csv", "hs_directory.csv", "math_test_results.csv", "sat_results.csv"]
full_data = {}
for f in files:
    d = pandas.read_csv("data/{0}".format(f))
    full_data[f.replace(".csv", "")] = d

In [3]:
full_data["hs_directory"]["DBN"] = full_data["hs_directory"]["dbn"]
full_data["class_size"]["DBN"] = full_data["class_size"].apply(lambda x: "{0:02d}{1}".format(x["CSD"], x["SCHOOL CODE"]), axis=1)
survey1 = pandas.read_csv("data/survey_all.txt", delimiter="\t", encoding='windows-1252')
survey2 = pandas.read_csv("data/survey_d75.txt", delimiter="\t", encoding='windows-1252')
survey1["d75"] = False
survey2["d75"] = True
survey = pandas.concat([survey1, survey2], axis=0, sort=True)

In [4]:
survey["DBN"] = survey["dbn"]
survey_fields = ["DBN", "rr_s", "rr_t", "rr_p", "N_s", "N_t", "N_p", "saf_p_11", "com_p_11", "eng_p_11", "aca_p_11", "saf_t_11", "com_t_11", "eng_t_11", "aca_t_11", "saf_s_11", "com_s_11", "eng_s_11", "aca_s_11", "saf_tot_11", "com_tot_11", "eng_tot_11", "aca_tot_11"]
full_data["survey"] = survey
survey = survey.loc[:,survey_fields]
full_data["survey"] = survey
survey.shape

(1702, 23)

In [5]:
class_size = full_data["class_size"]
class_size = class_size[class_size["GRADE "] == "09-12"]
class_size = class_size[class_size["PROGRAM TYPE"] == "GEN ED"]
class_size = class_size.groupby("DBN").agg(np.mean)
class_size.reset_index(inplace=True)
full_data["class_size"] = class_size
demographics = full_data["demographics"]
demographics = demographics[demographics["schoolyear"] == 20112012]
full_data["demographics"] = demographics
full_data["math_test_results"] = full_data["math_test_results"][full_data["math_test_results"]["Year"] == 2011]
full_data["math_test_results"] = full_data["math_test_results"][full_data["math_test_results"]["Grade"] == '8']
full_data["graduation"] = full_data["graduation"][full_data["graduation"]["Cohort Year"] == 2009]
full_data["graduation"] = full_data["graduation"][full_data["graduation"]["Category"] == "All Students"]
full_data["graduation"] = full_data["graduation"][full_data["graduation"]["Cohort"] == "4 year June"]

In [6]:
full_data["sat_results"].dtypes

DBN                                object
SCHOOL NAME                        object
Num of SAT Test Takers             object
SAT Critical Reading Avg. Score    object
SAT Math Avg. Score                object
SAT Writing Avg. Score             object
dtype: object

In [7]:
full_data["sat_results"] = full_data["sat_results"][full_data["sat_results"]["Num of SAT Test Takers"] != 's']
full_data['sat_results'].reset_index(drop=True, inplace=True)
for c in full_data["sat_results"].columns[3:]:
    full_data["sat_results"][c] = pandas.to_numeric(full_data["sat_results"][c], errors='coerce', downcast='unsigned')
full_data['sat_results']['sat_score'] = full_data['sat_results'].iloc[:,-3:].sum(axis=1)
full_data['sat_results']['sat_score'] = full_data['sat_results']['sat_score'].astype('uint16')

In [8]:
full_data["sat_results"].dtypes

DBN                                object
SCHOOL NAME                        object
Num of SAT Test Takers             object
SAT Critical Reading Avg. Score    uint16
SAT Math Avg. Score                uint16
SAT Writing Avg. Score             uint16
sat_score                          uint16
dtype: object

In [9]:
full_data["hs_directory"]['lat'] = full_data["hs_directory"]['Location 1'].apply(lambda x: x.split("\n")[-1].replace("(", "").replace(")", "").split(", ")[0])
full_data["hs_directory"]['lon'] = full_data["hs_directory"]['Location 1'].apply(lambda x: x.split("\n")[-1].replace("(", "").replace(")", "").split(", ")[1])
for c in ['lat', 'lon']:
    full_data["hs_directory"][c] = full_data["hs_directory"][c].apply(pandas.to_numeric, errors='coerce')

In [10]:
full_data['ap_2010']=full_data['ap_2010'].drop([52],axis=0)

In [11]:
full_data['sat_results'].shape

(421, 7)

In [12]:
full_data["sat_results"]

,DBN,SCHOOL NAME,Num of SAT Test Takers,SAT Critical Reading Avg. Score,SAT Math Avg. Score,SAT Writing Avg. Score,sat_score
0,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355,404,363,1122
1,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,91,383,423,366,1172
2,01M450,EAST SIDE COMMUNITY SCHOOL,70,377,402,370,1149
3,01M458,FORSYTH SATELLITE ACADEMY,7,414,401,359,1174
4,01M509,MARTA VALLE HIGH SCHOOL,44,390,433,384,1207
5,01M515,LOWER EAST SIDE PREPARATORY HIGH SCHOOL,112,332,557,316,1205
6,01M539,"NEW EXPLORATIONS INTO SCIENCE, TECHNOLOGY AND ...",159,522,574,525,1621
7,01M650,CASCADES HIGH SCHOOL,18,417,418,411,1246
8,01M696,BARD HIGH SCHOOL EARLY COLLEGE,130,624,604,628,1856
9,02M047,47 THE AMERICAN SIGN LANGUAGE AND ENGLISH SECO...,16,395,400,387,1182
10,02M288,FOOD AND FINANCE HIGH SCHOOL,62,409,393,392,1194
11,02M294,ESSEX STREET ACADEMY,53,394,384,378,1156
12,02M296,HIGH SCHOOL OF HOSPITALITY MANAGEMENT,58,374,375,362,1111
13,02M298,PACE HIGH SCHOOL,85,423,438,432,1293
14,02M300,URBAN ASSEMBLY SCHOOL OF DESIGN AND CONSTRUCTI...,48,404,449,416,1269
15,02M303,"FACING HISTORY SCHOOL, THE",76,353,358,340,1051
16,02M305,"URBAN ASSEMBLY ACADEMY OF GOVERNMENT AND LAW, THE",50,375,388,385,1148
17,02M308,LOWER MANHATTAN ARTS ACADEMY,40,403,392,405,1200
18,02M313,"JAMES BALDWIN SCHOOL, THE: A SCHOOL FOR EXPEDI...",69,408,390,390,1188
19,02M316,URBAN ASSEMBLY SCHOOL OF BUSINESS FOR YOUNG WO...,42,373,370,384,1127
20,02M374,GRAMERCY ARTS HIGH SCHOOL,60,391,391,394,1176
21,02M376,NYC ISCHOOL,92,473,483,479,1435
22,02M394,EMMA LAZARUS HIGH SCHOOL,79,319,512,357,1188
23,02M400,HIGH SCHOOL FOR ENVIRONMENTAL STUDIES,263,465,493,461,1419
24,02M407,INSTITUTE FOR COLLABORATIVE EDUCATION,54,492,465,467,1424
25,02M408,PROFESSIONAL PERFORMING ARTS HIGH SCHOOL,94,509,490,523,1522
26,02M411,BARUCH COLLEGE CAMPUS HIGH SCHOOL,104,496,563,518,1577
27,02M412,N.Y.C. LAB SCHOOL FOR COLLABORATIVE STUDIES,114,537,590,550,1677
28,02M413,SCHOOL OF THE FUTURE HIGH SCHOOL,66,517,533,515,1565
29,02M414,N.Y.C. MUSEUM SCHOOL,103,468,492,459,1419
...,...,...,...,...,...,...,...
391,30Q301,ACADEMY FOR CAREERS IN TELEVISION AND FILM,98,410,440,405,1255
392,30Q445,WILLIAM CULLEN BRYANT HIGH SCHOOL,395,414,449,412,1275
393,30Q450,LONG ISLAND CITY HIGH SCHOOL,392,403,420,395,1218
394,30Q501,FRANK SINATRA SCHOOL OF THE ARTS HIGH SCHOOL,174,504,496,494,1494
395,30Q502,INFORMATION TECHNOLOGY HIGH SCHOOL,148,407,434,398,1239
396,30Q555,NEWCOMERS HIGH SCHOOL,143,323,475,329,1127
397,30Q575,ACADEMY OF AMERICAN STUDIES,135,487,492,491,1470
398,30Q580,BACCALAUREATE SCHOOL FOR GLOBAL EDUCATION,61,524,568,544,1636
399,31R047,CSI HIGH SCHOOL FOR INTERNATIONAL STUDIES,137,452,451,450,1353
400,31R064,GAYNOR MCCOWN EXPEDITIONARY LEARNING SCHOOL,61,398,412,385,1195
401,31R080,THE MICHAEL J. PETRIDES SCHOOL,107,472,488,466,1426
402,31R440,NEW DORP HIGH SCHOOL,391,424,437,416,1277
403,31R445,PORT RICHMOND HIGH SCHOOL,271,424,438,417,1279
404,31R450,CURTIS HIGH SCHOOL,375,437,435,429,1301
405,31R455,TOTTENVILLE HIGH SCHOOL,807,462,486,470,1418
406,31R460,SUSAN E. WAGNER HIGH SCHOOL,535,455,474,459,1388
407,31R470,CONCORD HIGH SCHOOL,10,466,455,414,1335
408,31R600,RALPH R. MCKEE CAREER AND TECHNICAL EDUCATION ...,94,416,422,397,1235
409,31R605,STATEN ISLAND TECHNICAL HIGH SCHOOL,227,635,682,636,1953
410,31R607,YOUNG ADULT BOROUGH CENTER AT STATEN IS TECH HS,10,405,375,370,1150
411,32K403,ACADEMY FOR ENVIRONMENTAL LEADERSHIP,50,380,366,352,1098
412,32K545,EBC HIGH SCHOOL FOR PUBLIC SERVICE–BUSHWICK,88,384,409,361,1154
413,32K549,BUSHWICK SCHOOL FOR SOCIAL JUSTICE,75,348,353,334,1035
414,32K552,ACADEMY OF URBAN PLANNING,67,342,364,354,1060
415,32K554,ALL CITY LEADERSHIP SECONDARY SCHOOL,39,428,465,422,1315
416,32K556,BUSHWICK LEADERS HIGH SCHOOL FOR ACADEMIC EXCE...,23,347,358,350,1055
417,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,24,359,317,358,1034
418,75Q811,P.S. Q811,32,429,444,433,1306
419,79Q950,GED PLUS s CITYWIDE,8,496,400,426,1322
420,79X490,PHOENIX ACADEMY,9,367,370,360,1097

In [13]:
flat_data_names = [k for k,v in full_data.items()]
flat_data = [full_data[k] for k in flat_data_names]
full = flat_data[6]
# unique DBN check
for i, f in enumerate(flat_data[:]):
    name = flat_data_names[i]
    print(name)
    print(len(f["DBN"]) - len(f["DBN"].unique()))
# join type by iteration of 'name'
for i, f in enumerate(flat_data[:]):
    name = flat_data_names[i]
    #join_type = "left"
    #if name in ["ap_2010", "graduation"]:
        #join_type = "outer"
    if name not in ["math_test_results","sat_results"]:
        full = full.merge(f, on="DBN", how="left")

ap_2010
0
class_size
0
demographics
0
graduation
0
hs_directory
0
math_test_results
0
sat_results
0
survey
0

In [14]:
full.shape

(421, 166)

In [23]:
full.isnull().sum()

DBN                                       0
SCHOOL NAME                               0
Num of SAT Test Takers                    0
SAT Critical Reading Avg. Score           0
SAT Math Avg. Score                       0
SAT Writing Avg. Score                    0
sat_score                                 0
SchoolName                              170
AP Test Takers                          191
Total Exams Taken                       191
Number of Exams with scores 3 4 or 5    270
CSD                                      20
NUMBER OF STUDENTS / SEATS FILLED        20
NUMBER OF SECTIONS                       20
AVERAGE CLASS SIZE                       20
SIZE OF SMALLEST CLASS                   20
SIZE OF LARGEST CLASS                    20
SCHOOLWIDE PUPIL-TEACHER RATIO          421
Name                                      9
schoolyear                                9
fl_percent                              421
frl_percent                               9
total_enrollment                          9
prek                                      9
k                                         9
grade1                                    9
grade2                                    9
grade3                                    9
grade4                                    9
grade5                                    9
                                       ...
Community Board                          84
Council District                         84
Census Tract                             84
BIN                                      85
BBL                                      85
NTA                                      84
lat                                      82
lon                                      82
rr_s                                      3
rr_t                                      3
rr_p                                      3
N_s                                       6
N_t                                       3
N_p                                       3
saf_p_11                                  3
com_p_11                                  3
eng_p_11                                  3
aca_p_11                                  3
saf_t_11                                  3
com_t_11                                  3
eng_t_11                                  3
aca_t_11                                  3
saf_s_11                                  6
com_s_11                                  6
eng_s_11                                  6
aca_s_11                                  6
saf_tot_11                                3
com_tot_11                                3
eng_tot_11                                3
aca_tot_11                                3
Length: 166, dtype: int64

In [37]:
df11=full[['DBN','SCHOOL NAME','SchoolName','AP Test Takers ']]
df11[df11.isna().any(axis=1)]

,DBN,SCHOOL NAME,SchoolName,AP Test Takers
0,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,NaN,NaN
3,01M458,FORSYTH SATELLITE ACADEMY,NaN,NaN
4,01M509,MARTA VALLE HIGH SCHOOL,NaN,NaN
7,01M650,CASCADES HIGH SCHOOL,NaN,NaN
8,01M696,BARD HIGH SCHOOL EARLY COLLEGE,NaN,NaN
9,02M047,47 THE AMERICAN SIGN LANGUAGE AND ENGLISH SECO...,NaN,NaN
10,02M288,FOOD AND FINANCE HIGH SCHOOL,NaN,NaN
11,02M294,ESSEX STREET ACADEMY,NaN,NaN
12,02M296,HIGH SCHOOL OF HOSPITALITY MANAGEMENT,High School of Hospitality Management,NaN
17,02M308,LOWER MANHATTAN ARTS ACADEMY,Lower Manhattan Arts Academy,NaN
18,02M313,"JAMES BALDWIN SCHOOL, THE: A SCHOOL FOR EXPEDI...",NaN,NaN
19,02M316,URBAN ASSEMBLY SCHOOL OF BUSINESS FOR YOUNG WO...,NaN,NaN
20,02M374,GRAMERCY ARTS HIGH SCHOOL,NaN,NaN
21,02M376,NYC ISCHOOL,NaN,NaN
22,02M394,EMMA LAZARUS HIGH SCHOOL,NaN,NaN
24,02M407,INSTITUTE FOR COLLABORATIVE EDUCATION,NaN,NaN
29,02M414,N.Y.C. MUSEUM SCHOOL,NYC MUSEUM SCHOOL,NaN
32,02M419,LANDMARK HIGH SCHOOL,NaN,NaN
38,02M449,VANGUARD HIGH SCHOOL,NaN,NaN
43,02M500,UNITY CENTER FOR URBAN TECHNOLOGIES,NaN,NaN
47,02M531,REPERTORY COMPANY HIGH SCHOOL FOR THEATRE ARTS,NaN,NaN
49,02M543,NEW DESIGN HIGH SCHOOL,NaN,NaN
50,02M544,INDEPENDENCE HIGH SCHOOL,NaN,NaN
52,02M550,LIBERTY HIGH SCHOOL ACADEMY FOR NEWCOMERS,NaN,NaN
54,02M560,HIGH SCHOOL M560 s CITY AS SCHOOL,NaN,NaN
55,02M565,URBAN ACADEMY LABORATORY HIGH SCHOOL,NaN,NaN
56,02M570,SATELLITE ACADEMY HIGH SCHOOL,NaN,NaN
59,02M586,HARVEY MILK HIGH SCHOOL,NaN,NaN
61,02M605,HUMANITIES PREPARATORY ACADEMY,NaN,NaN
67,03M283,MANHATTAN THEATRE LAB HIGH SCHOOL,NaN,NaN
...,...,...,...,...
346,25Q281,EASTsWEST SCHOOL OF INTERNATIONAL STUDIES,NaN,NaN
350,25Q467,FLUSHING YABC,NaN,NaN
352,25Q540,QUEENS ACADEMY HIGH SCHOOL,NaN,NaN
354,25Q792,NORTH QUEENS COMMUNITY HIGH SCHOOL,NaN,NaN
359,26Q566,"QUEENS HIGH SCHOOL OF TEACHING, LIBERAL ARTS A...","Queens High School of Teaching, Liberal Arts a...",NaN
360,27Q260,FREDERICK DOUGLASS ACADEMY VI HIGH SCHOOL,NaN,NaN
362,27Q302,"QUEENS HIGH SCHOOL FOR INFORMATION, RESEARCH, ...",NaN,NaN
363,27Q308,ROBERT H. GODDARD HIGH SCHOOL OF COMMUNICATION...,NaN,NaN
364,27Q309,ACADEMY OF MEDICAL TECHNOLOGY: A COLLEGE BOARD...,NaN,NaN
367,27Q410,BEACH CHANNEL HIGH SCHOOL,NaN,NaN
371,28Q310,QUEENS COLLEGIATE: A COLLEGE BOARD SCHOOL,NaN,NaN
372,28Q338,QUEENS SATELLITE HIGH SCHOOL FOR OPPORTUNITY,NaN,NaN
373,28Q350,JAMAICA GATEWAY TO THE SCIENCES,NaN,NaN
384,29Q265,EXCELSIOR PREPARATORY HIGH SCHOOL,NaN,NaN
388,29Q494,"LAW, GOVERNMENT AND COMMUNITY SERVICE HIGH SCHOOL",NaN,NaN
389,29Q496,"BUSINESS, COMPUTER APPLICATIONS & ENTREPRENEUR...",BUSINESS/COMPUTER APPLICATIONS,NaN
390,29Q498,HUMANITIES & ARTS MAGNET HIGH SCHOOL,NaN,NaN
391,30Q301,ACADEMY FOR CAREERS IN TELEVISION AND FILM,NaN,NaN
398,30Q580,BACCALAUREATE SCHOOL FOR GLOBAL EDUCATION,NaN,NaN
399,31R047,CSI HIGH SCHOOL FOR INTERNATIONAL STUDIES,NaN,NaN
400,31R064,GAYNOR MCCOWN EXPEDITIONARY LEARNING SCHOOL,NaN,NaN
407,31R470,CONCORD HIGH SCHOOL,NaN,NaN
408,31R600,RALPH R. MCKEE CAREER AND TECHNICAL EDUCATION ...,RAPLH MCKEE VHS,NaN
410,31R607,YOUNG ADULT BOROUGH CENTER AT STATEN IS TECH HS,NaN,NaN
411,32K403,ACADEMY FOR ENVIRONMENTAL LEADERSHIP,NaN,NaN
413,32K549,BUSHWICK SCHOOL FOR SOCIAL JUSTICE,NaN,NaN
417,32K564,BUSHWICK COMMUNITY HIGH SCHOOL,NaN,NaN
418,75Q811,P.S. Q811,NaN,NaN
419,79Q950,GED PLUS s CITYWIDE,NaN,NaN
420,79X490,PHOENIX ACADEMY,NaN,NaN

In [ ]:
full_data['sat_results']['DBN']

In [ ]:
flat_data[6]

In [ ]:
list(full_data['graduation'])

In [ ]:
df11.isna().sum()

In [ ]:
flat_data[6]['']

In [16]:
pandas.__version__

'0.24.2'

In [24]:
full_data['ap_2010']

,DBN,SchoolName,AP Test Takers,Total Exams Taken,Number of Exams with scores 3 4 or 5
0,01M448,UNIVERSITY NEIGHBORHOOD H.S.,39.0,49.0,10.0
1,01M450,EAST SIDE COMMUNITY HS,19.0,21.0,NaN
2,01M515,LOWER EASTSIDE PREP,24.0,26.0,24.0
3,01M539,"NEW EXPLORATIONS SCI,TECH,MATH",255.0,377.0,191.0
4,02M296,High School of Hospitality Management,NaN,NaN,NaN
5,02M298,Pace High School,21.0,21.0,NaN
6,02M300,"Urban Assembly School of Design and Construction,",99.0,117.0,10.0
7,02M303,"Facing History School, The",42.0,44.0,NaN
8,02M305,"Urban Assembly Academy of Government and Law, The",25.0,37.0,15.0
9,02M308,Lower Manhattan Arts Academy,NaN,NaN,NaN
10,02M400,HS FOR ENVIRONMENTAL STUDIES,213.0,298.0,152.0
11,02M408,PROFESSIONAL PERFORMING ARTS,20.0,20.0,15.0
12,02M411,BARUCH COLLEGE CAMPUS HS,78.0,115.0,88.0
13,02M412,NYC LAB HS FOR COLL. STUDIES,114.0,140.0,97.0
14,02M413,SCHOOL OF THE FUTURE,11.0,11.0,NaN
15,02M414,NYC MUSEUM SCHOOL,NaN,NaN,NaN
16,02M416,Eleanor Roosevelt High School,155.0,235.0,169.0
17,02M418,Millennium High School,86.0,95.0,67.0
18,02M420,HEALTH PROF & HUMAN SVCS,204.0,248.0,75.0
19,02M425,H S FOR LEADERSHIP & PUBLIC,70.0,84.0,32.0
20,02M429,LEGACY SCHOOL,22.0,26.0,NaN
21,02M439,MANHATTAN VILLAGE ACADEMY HS,42.0,69.0,29.0
22,02M440,HS FOR HUMANITIES,6.0,6.0,NaN
23,02M459,CES-MANHATTAN INTERNATIONAL,12.0,12.0,6.0
24,02M460,WASHINGTON IRVING HS,69.0,83.0,21.0
25,02M475,STUYVESANT HS,1510.0,2819.0,2648.0
26,02M489,HS OF ECONOMICS & FINANCE,101.0,176.0,78.0
27,02M519,TALENT UNLIMITED,30.0,34.0,21.0
28,02M520,MURRY BERGTRAUM H.S.,118.0,157.0,76.0
29,02M529,JACQUELINE K. ONASSIS HS,80.0,118.0,29.0
...,...,...,...,...,...
228,28Q620,THOS A EDISON VHS,183.0,244.0,100.0
229,28Q680,GATEWAY TO HEALTH SCIENCES,89.0,136.0,57.0
230,28Q687,Queens HS for Science York Colllege,215.0,338.0,275.0
231,28Q690,High School for Law Enforcement and Public Safety,19.0,19.0,NaN
232,28Q896,"Young Women's Leadership School, Queens",6.0,6.0,NaN
233,29Q248,Queens Preparatory Academy,15.0,15.0,NaN
234,29Q259,Pathways College Preparatory School: A College...,29.0,71.0,NaN
235,29Q272,George Washington Carver High School for the S...,14.0,21.0,NaN
236,29Q283,Preparatory Academy for Writers,40.0,43.0,NaN
237,29Q420,SPRINGFIELD GARDENS HS,NaN,NaN,NaN
238,29Q492,MATH/SCIENCE RESEARCH TECH CTR,22.0,31.0,8.0
239,29Q496,BUSINESS/COMPUTER APPLICATIONS,NaN,NaN,NaN
240,30Q445,WM CULLEN BRYANT HS,243.0,330.0,97.0
241,30Q450,LONG ISLAND CITY HS,406.0,805.0,169.0
242,30Q501,FRANK SINATRA HIGH SCHOOL,108.0,136.0,38.0
243,30Q502,INFORMATION TECHNOLOGY HS,51.0,74.0,13.0
244,30Q555,NEWCOMERS HS:ACAD AMER STD,119.0,163.0,140.0
245,30Q575,ACADEMY OF AMER. STUDIES HS,101.0,170.0,119.0
246,31R080,PS 080 MICHAEL J. PETRIDES,162.0,243.0,66.0
247,31R440,NEW DORP HS,96.0,118.0,62.0
248,31R445,PORT RICHMOND HS,194.0,304.0,76.0
249,31R450,CURTIS HS,247.0,295.0,90.0
250,31R455,TOTTENVILLE HS,396.0,687.0,206.0
251,31R460,SUSAN E. WAGNER HS,279.0,408.0,175.0
252,31R600,RAPLH MCKEE VHS,NaN,NaN,NaN
253,31R605,STATEN ISLAND TECHNICAL HS,528.0,905.0,809.0
254,32K545,EBC-HS FOR PUB SERVICE (BUSH),47.0,64.0,13.0
255,32K552,Academy of Urban Planning,76.0,100.0,10.0
256,32K554,All City Leadership Secondary School,7.0,8.0,NaN
257,32K556,Bushwick Leaders High School for Academic Exce...,34.0,35.0,18.0

In [41]:
full.to_csv(path_or_buf='full.csv')